<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yl.userlibrary">

    <application>
        <activity android:name=".LoginActivity" />
        <activity android:name=".PersonActivity"/>
        <activity android:name=".MineAcitvity"/>
        <activity android:name=".UserInfoEditActivity"/>
        <activity android:name=".UserinfoMoreActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".FeedBackActivity"/>
        <activity android:name=".AboutActivity"/>
    </application>

</manifest>