<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yl.userlibrary">

    <application
     >
        <activity android:name=".PersonActivity"></activity>
        <activity android:name=".MineAcitvity"></activity>
    </application>

</manifest>