<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yl.markremember">
    <application android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity android:name=".ui.activity.CalendarMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ListLabelManagerActivity"/>
        <activity android:name=".ui.activity.AddLabelActivity"/>
        <activity android:name=".ui.activity.AddListActivity"/>
    </application>
</manifest>
