<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yl.triplibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".ui.activity.TripHomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="${applicationId}.BmobContentProvider" />

        <activity android:name=".ui.activity.LanscadeDetailActivity" />
        <activity android:name=".ui.activity.TripFootPrintDetailAcitivity" />
        <activity android:name=".ui.activity.TripLineDetailAcitivity" />
    </application>

</manifest>